<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JustTwitterCopy{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <div class="nav-links">
                    <a href="{{ url_for('post') }}" class="nav-link">Форум</a>
                    {% if session.get('id') %}
                        <a href="{{url_for('chatList')}}" class="nav-link">Чаты</a>
                        <a href="{{url_for('logOut')}}" class="nav-link">Выйти</a>
                        <p class="nav-link">{{ session.get('email') }}</p>
                    {% else %}
                        <a href="{{url_for('signUp')}}" class="nav-link">Зарегестрироваться</a>
                        <a href="{{url_for('logIn')}}" class="nav-link">Войти</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>