{% extends "base.html" %}

{% block title %} Чаты {% endblock %}

{% block content %}
    <main class="container">
        {% if session.get('id') %} 
            {% for chat in chats %}
                <a href="{{url_for('chat',email=chat.chat_with)}}">
                    <div>
                        <span class="post-author">{{chat.chat_with}}</span>
                    </div>
                </a>
                <p>{{chat.client_email}}</p>
            {% endfor %}
        {% else %} 
            <p class="error">Войдите для доступа к чатам</p>
        {%endif%}
    </main>
{% endblock %}