{% extends "base.html" %}

{% block title %} Чаты {% endblock %}

{% block content %}
    {% if session.get('id') %}    
        <main class="container">
            <div class="auth-for">
                <h2 class="form-title">Добавить новый пост</h2>
                <form id="form-post" method="post" enctype="multipart/form-data">
                    <textarea name="text" id="" placeholder="Сообщение" class="auth-elements"></textarea>
                    <div>
                        <input type="file" name="file" class="auth-elements">
                        <input type="submit" class="auth-elements">
                    </div>
                </form>
                <p class="form-error">{{error}}</p>
            </div>
        </main>
    {% endif %}
    <main class="container">
        {%for p in posts%}
            <div class="post">
                <div class="post-meta">
                    <a href="{{url_for('profile', email=p.client_email)}}"><span class="post-author">{{p.client_email}}</span></a>
                    <span class="post-date">{{p.datetime}}</span>
                </div>
                <div class="post-content">
                    <p>{{p.text}}</p>
                </div>
                <img src="{{ url_for('get_file', filename=p.filename) }}" alt="">
            </div>
        {%endfor%}
    </main>
{% endblock %}